<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weapons</title>
    <!--<link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CrimeTime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/VOrelationship">Victim-Offender Relationship</a>
                        <a class="dropdown-item" href="/Time">Crime Rates Over Time</a>
                        <a class="dropdown-item" href="/weaponsgraph">Weapons Statistics</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="p-3 mb-2 font-weight-bold bg-warning text-white center">
        <h1 class="text-center">Weapons Used in Victimizations</h1>
        <h4 class="text-center">Use the dropdown menu below to view information by
            U.S.Region.</h4>
    </div>

    <br>

    <div class="container" style="border:1px solid #0a0a0a;">

        <!-- Create a div where the graph will take place -->
        <div id="plot"></div>
        <select id="selDataset">
            <option value="dataset1">Midwest Region</option>
            <option value="dataset2">Northeast Region</option>
            <option value="dataset3">South Region</option>
            <option value="dataset4">West Region</option>
        </select>

    </div>

    <br>

    <div class="p-3 mb-2 bg-dark text-dark">
        <h2 class="text-center">Analysis</h2>
        <h3 class="text-center">It is interesting that "no weapon" far exceeds all other weapon categories in every
            region.
            This was unexpected given that personal victimizations can often be violent in nature.
        </h3>
        <br>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/weapons.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script>
        d3.select("h1")
            .transition()
            .duration(3000)
            .style("color", "black");
    </script>

    <script>
        d3.select("h4")
            .transition()
            .duration(3000)
            .style("color", "black");
    </script>

    <script>
        d3.select("h2")
            .transition()
            .duration(3000)
            .style("color", "white");
    </script>

    <script>
        d3.select("h3")
            .transition()
            .duration(3000)
            .style("color", "white");
    </script>

</body>

</html>